body {
  font-family: 'Roboto', sans-serif;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: auto;
}
.btn {
  display: inline-block;
  color: #fff;
  padding: 10px 20px ;
  border-radius:3px;
  align-content: center;
}
.btn--primary {
  background: #FA5659;
}
.btn--success {
  background: #009D5C;
}
.btn--warning {
  background: #EEC74D;
}